:root {
    --primary-text-color:rgba(0,0.0.0);
    --title-text-color:black;
   --accent-color:#18a0fb;
   --primary-white-color:#ffffff;
       }
body{
    background-color: #ffffff;
    color: #2E2F42; 
    font-family: "Roboto",
    font-family:'Raleway';
        font-family: 'Raleway','Roboto';
    }
    /* color of background #FFFFFF */
    /* secondory BG color  #2E2F42*/
    /* color of text NAVE BLUE #2E2F42; */
    /* secondary color of text #434455; */
    /* color of acсent  BG IRIS #4D5AE5;* main text #FFFFFFF/

    /* Site link */
    ul{
        list-style: none;
    }
.toplineweb{
 width: 44px;
height: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
/* display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase; */
color: #4D5AE5;  
}
.toplineweb:hover,.toplineweb:focus{
    color: rgb(148, 0, 211);
}
.toplinestudio{
    width: 71px;
height: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: #2E2F42;
}
.a {
    decoration:underline=none;
}
.site-nav list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.site-nav .link:hover, .site-nav .link:focus{
    color: #2E2F42;
}
   
.auth-nav list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
a {
    text-decoration: none;
}

.section-hero{
    background-color: var(--secondory BG color  #2E2F42);
}
.hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height:1,07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var (NAVI BLUE);

}
.button {
    background:color: var(--accent-color);
    color: var(--priprimary-white-color);
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height:1,19;
    display: flex;
    align-items:center;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:active {
background: color:#404BBF;
color: var(text color);
}
/* section */
.adventeges{

}
.adventeges-title {
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.work-title{
    font-size: 36px;
    line-height: 1.1;
}
.article {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.team-title{
font-size: 36px;
line-height: 1.1;
}
.article:hover, .article:focus,.names:hover,.names:focus {
    color: darkviolet;
}
 .adventeges-title,.work-title, .team-title,.names {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    color: #2E2F42;
}
.names{
    text-align: center;
    letter-spacing: 0.02em;
}
.profesion{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
.footerweb {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
/* display: flex;
align-items: center; */
letter-spacing: 0.03em;
/* text-transform: uppercase; */
/* Footer */
footer {
    background: color: var(#2E2F42); 
}
}
.footerstudio {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
/* align-items: center; */
letter-spacing: 0.03em;
/* text-transform: uppercase; */
color: var(#F4F4FD);
}
   .conclusion {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(#E7E9FC);
   }