:root {
    --primary-text-color:#434455;;
    --title-text-color:#2E2F42;
   --accent-color:#18a0fb;
   --primary-white-color:#ffffff;
   --second-color: #4D5AE5;
       }
body{
    background-color: #ffffff;
    color: #2E2F42; 
    font-family: 'Raleway','Roboto';
    font-style: normal;
    }
    /* color of background #FFFFFF */
    /* secondory BG color  #2E2F42*/
    /* color of text NAVE BLUE #2E2F42; */
    /* secondary color of text #434455; */
    /* color of acÑent  BG IRIS #4D5AE5;* main text #FFFFFFF/

    /* Site link */
    .list{
        list-style: none;
    }
    .link {text-decoration:none;}
    .link:hover,.link:focus {color: #4D5AE5;}

.toplineweb{
 width: 44px;
height: 24px;
/* font-style: normal; */
font-weight: 900;
font-size: 18px;
line-height: 1.33;
/* display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase; */
color: #4D5AE5;  
}
.toplineweb:hover,.toplineweb:focus,.site-nav.link:hover,
.site-nav.link:focus {
    color:#434455}
.toplineweb:active,.toplinestudio:active
 {color: #4D5AE5 ;
   }
.toplinestudio{
    width: 71px;
height: 24px;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: #2E2F42;
}

.site-nav .link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

    .auth-nav list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}
.adresinfo:hover,.adresinfo:focus {color:#434455}
 .adresinfo:active{color:#4D5AE5}

.section-hero{
    background-color: var(--secondory BG color  #2E2F42);
}
.hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height:1,07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var (NAVI BLUE);

}
.button {
    background:color: var(--accent-color);
    color: var(--priprimary-white-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height:1,19;
    display: flex;
    /* align-items:center; */
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:active {
/* background: color:#404BBF; */
color: var(text color);
}
/* section */

.section-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.section-title:hover, .section-title:focus{color: #4D5AE5;}
.work >section-title {
    font-size: 36px;
    line-height: 1.1;
}
.article {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.team > section-title{
font-size: 36px;
line-height: 1.1;
}
.article:hover, .article:focus,
.names:hover,.names:focus, 
.profesion:hover, .profesion:focus
{
    color: #4D5AE5;
    }
    .hero-title:hover,.hero-title:focus{

    }
 .names {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    color: #2E2F42;
}
.names{
    /* text-align: center; */
    letter-spacing: 0.02em;
}
.profesion{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* text-align: center; */
letter-spacing: 0.02em;
color: #434455;
}
/* Footer */
.footerweb { color:var(black);
    font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 1.16;
/* display: flex;
align-items: center; */
letter-spacing: 0.03em;
/* text-transform: uppercase; */
}
footer {
    /* background: color: #2E2F42;  */
}
.footerstudio {
    font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 1.16;
/* align-items: center; */
letter-spacing: 0.03em;
/* text-transform: uppercase; */
color: #F4F4FD;
}
.footerweb:hover, .footerstudio:focus{
    color: #4D5AE5;
    }
   .conclusion {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#E7E9FC;
   }